---
import { Header } from "@repo/ui/components/shared/header";
import { HeroSection } from "@repo/ui/blocks/marketing/hero/hero-section-with-logos";
import { Features } from "@repo/ui/blocks/marketing/features/features-grid";
import { Stats } from "@repo/ui/blocks/marketing/stats/stats-with-globe";
import { Integrations } from "@repo/ui/blocks/marketing/integrations/integrations-row";
import { Testimonials } from "@repo/ui/blocks/marketing/testimonials/testimonials-simple";

import "../styles/web.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SaasAloy - Open-source AI SaaS starter kit</title>
    <!-- Theme setup script to prevent FOUC -->
    <script is:inline src="/scripts/theme.js"></script>
  </head>
  <body>
    <Header client:load />
    <HeroSection />
    <Features />
    <Integrations />
    <Testimonials />
    <Stats />
  </body>
</html>
