---
import HeroSection from "@repo/ui/blocks/marketing/hero/hero-section";
import { logger } from "@repo/logger";
import "../styles/web.css";

logger.info("💡 Web server starting...");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SaasAloy - Open-source AI SaaS starter kit</title>
  </head>
  <body>
    <HeroSection client:load />
  </body>
</html>
