---
import { Header } from "@repo/ui/components/shared/header";
import { HeroSection } from "@repo/ui/blocks/marketing/hero/hero-section-with-logos";
import { logger } from "@repo/logger";
import "../styles/web.css";

logger.info("💡 Web server starting...");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SaasAloy - Open-source AI SaaS starter kit</title>
  </head>
  <body>
    <Header client:load />
    <HeroSection />
  </body>
</html>
