---
import { Header } from "@repo/ui/components/shared/header";
import "../styles/web.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "SaasAloy - Open-source AI SaaS starter kit", description } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <!-- Theme setup script to prevent FOUC -->
    <script is:inline src="/scripts/theme.js"></script>
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
  </body>
</html>
